<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RequestTokenURL</key>
	<string>https://api.twitter.com/oauth2/token</string>
	<key>ConsumerKey</key>
	<string>tajGuj9oxo2J6dyIdOv3Mg</string>
	<key>ConsumerSecret</key>
	<string>Njx3rTnYNXxzJJMkyQPHynJ1tRx8PdHLXBIkp4</string>
	<key>HostURL</key>
	<string>https://api.twitter.com</string>
	<key>RequestURL</key>
	<string>1.1/search/tweets.json</string>
	<key>ApplicationName</key>
	<string>#Bot</string>
</dict>
</plist>
